<section class="flex justify-center w-full lg:w-[1140px] h-[620px] lg:h-[80vh] mx-auto text-animation z-1 mt-32" id="about">
    <h1 class="text-center !text-5xl lg:!text-9xl mx-auto z-[-1] opacity-60 font-black lg:-mt-32 section-title">ABOUT ME</h1>
    <p class="!text-xl lg:!text-5xl text-pretty reveal-text font-semibold m-4 lg:m-0 mt-28">
        Data analyst with <span class="text-[#9d4edd] font-bold">+4 years of experience</span> in data analysis and interpretation. 
        Strong foundation in <span class="text-[#9d4edd] font-bold">mathematics and statistics</span>, with a passion for theoretical 
        concepts and their practical applications. Adept at leveraging statistical techniques and data visualization tools to 
        drive <span class="text-[#9d4edd] font-bold">insights</span> and support <span class="text-[#9d4edd] font-bold">decision-making</span> 
        processes. 
    </p>
</section>