---
import Pills from '../social-pills.astro';
import LinkedIn from '../icons/linkedin.astro';
import Github from '../icons/github.astro';
import Email from '../icons/email.astro';
import Download from '../icons/download.astro';
---

<section class="w-full lg:w-[740px] mx-auto py-28 h-[80vh] lg:h-screen z-1 flex flex-col justify-center">
    <div class="flex justify-center mb-6">
        <div class="relative">
            <img 
                src="https://avatars.githubusercontent.com/u/71192472?v=4" 
                alt="Jorge Borja Serrano" 
                class="w-40 h-40 rounded-full border-4 border-white/20 shadow-lg"
            />
            <div class="absolute bottom-1 right-4 w-7 h-7 bg-green-500 rounded-full border-4 border-gray-900 animate-pulse"></div>
        </div>
    </div>
    <h2 class="text-[#9d4edd] text-center text-4xl animationn font-semibold">Data Analyst</h2>
    <h1 class="text-center text-7xl font-bold">Jorge Borja Serrano</h1>
    <span class="flex justify-center text-gray-500 mt-2">Data's Storyteller, Insight's Architect.</span>

    <nav class="flex flex-col sm:flex-row md:flex-row lg:flex-row gap-4 mt-3 justify-center px-8 md:px-0 lg:px-0">
        <Pills href="https://www.linkedin.com/in/jorgeborjas25/">
            <LinkedIn class="size-5"/>
            LinkedIn
        </Pills>
        <Pills href="https://github.com/unfresh25">
            <Github class="size-5"/>
            Github
        </Pills>
        <Pills href="https://uninorte-my.sharepoint.com/personal/jborjaa_uninorte_edu_co/_layouts/15/download.aspx?SourceUrl=%2Fpersonal%2Fjborjaa%5Funinorte%5Fedu%5Fco%2FDocuments%2FDocumentos%2FDocumentos%20laborales%2FJorge%20Borja%2C%20Curriculum%20Vitae%2Epdf">
            <Download class="size-5"/>
            Curriculum
        </Pills>
        <Pills href="mailto:jorgeborja48@gmail.com">
            <Email class="size-5"/>
            jorgeborja48@gmail.com
        </Pills>
    </nav>
</section>