---
export interface Props {
    date: string;
    company: string;
    description: string;
    ballClass?: string;
    textClass?: string;
}

const { date, company, description, ballClass = '', textClass = '' } = Astro.props;
---

<div class={`grid grid-cols-3 gap-0 w-full ml-auto mr-auto pt-20 pb-20 opacity-10 ${textClass}`} style="grid-template-columns: 1fr 160px 1fr">
    <div>
        <span class="font-medium !text-base lg:!text-5xl">
            {date}
        </span>
    </div>
    <div>
        <div class={`flex justify-center size-4 bg-white rounded-full m-auto ${ballClass}`} />
    </div>
    <div>
        <p class="font-medium !text-xs lg:!text-xl text-pretty exp-p" set:html={description} />
    </div>
</div>