---
import Layout from '../layouts/Layout.astro';
import LinkedIn from '../components/icons/linkedin.astro'
import SocialPills from '../components/social-pills.astro';
import Github from '../components/icons/github.astro';
import Email from '../components/icons/email.astro';
import gsap from 'gsap';
import SplitType from 'split-type';
import Timeline from '../components/timeline.astro';
---

<Layout 
	title="Portfolio de Jorge Borja - Analista de Datos"
	description="Analista de datos con +3 años de experiencia, conocimientos avanzados en matemática y estadística. Ofrece servicios de análisis de la información, ciencia de datos y desarrollo de aplicaciones visuales."
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-60 h-screen">
			<h2 class="text-green-600 text-center text-4xl animationn font-semibold">Data Analyst</h2>
			<h1 class="text-center text-7xl font-bold">Jorge Borja Serrano</h1>
			<h3 class="text-gray-500 text-center mt-2">Data's Storyteller, Insight's Architect.</h3>

			<nav class="flex gap-x-4 mt-3 justify-center">
				<SocialPills href="https://www.linkedin.com/in/jorgeborjas25/">
					<LinkedIn class="size-5"/>
					LinkedIn
				</SocialPills>
				<SocialPills href="https://github.com/unfresh25">
					<Github class="size-5"/>
					Github
				</SocialPills>
				<SocialPills href="mailto:jorgeborja48@gmail.com">
					<Email class="size-5"/>
					jorgeborja48@gmail.com
				</SocialPills>
			</nav>
		</section>
		<section class="w-full lg:w-[1140px] h-screen mx-auto text-animation flex">
			<h1 class="text-center text-9xl mx-auto z-[-1] opacity-60 font-black about-text">ABOUT ME</h1>
			<p class="text-5xl text-pretty reveal-text font-semibold mt-24">
				Data analyst with <span class="text-green-600">+3 years of experience</span> in data analysis and interpretation. 
				Strong foundation in <span class="text-green-600">mathematics and statistics</span>, with a passion for theoretical concepts and their practical applications. 
				Adept at leveraging statistical techniques and data visualization tools to drive <span class="text-green-600">insights</span> and support <span class="text-green-600">decision-making</span> processes. 
			</p>
		</section>
		<section>
		<Timeline />
		</section>
		<section class="w-full lg:w-[1140px] h-screen mx-auto text-animation flex">
			<h1 class="text-center text-9xl mx-auto z-[-1] opacity-60 font-black about-text">PROJECTS</h1>
		</section>
	</main>
</Layout>

<style>
	.animationn {
		background: linear-gradient(to right, rgb(22, 163, 74) 0, white 10%, rgb(22, 163, 74) 20%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: shine 3s linear infinite;
	}

	.about-text {
		color: transparent;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
		font-size: 180px;
	}

	.reveal-text {
		position: absolute;
		max-width: 35ch;
	}

	.reveal-text-hover {
		opacity: 1;
		position: absolute;
		width: 0%;
		max-width: 35ch;
		white-space: nowrap;
		overflow: hidden;
	}

	@keyframes shine {
		0% {
			background-position: 0;
		}
		50% {
			background-position: 470px;
		}
		100% {
			background-position: 470px;
		}
	}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/split-type"></script>
<script src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js"></script> 

<script>
	import SplitType from 'split-type';

	gsap.registerPlugin(ScrollTrigger)

	const splitTypes = document.querySelectorAll('.reveal-text')

	splitTypes.forEach((char, i) => {
		const text = new SplitType(char as HTMLElement, { types: 'chars' });

		gsap.from(text.chars, {
			scrollTrigger: {
				trigger: char,
				start: 'top 80%',
				end: 'top 10%',
				scrub: true,
			},
			opacity: .2,
			stagger: .1,
		})
	})
</script>