---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import ExperienceSection from '../components/sections/ExperienceSection.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import ProjectSection from '../components/sections/ProjectSection.astro';
import '../styles/global.css';
---

<Layout 
    title="Portfolio de Jorge Borja - Analista de Datos"
    description="Analista de datos con +4 años de experiencia, conocimientos avanzados en matemática y estadística. Ofrece servicios de análisis de la información, ciencia de datos y desarrollo de aplicaciones visuales."
>
    <main class="sm:!py-7">
        <HeroSection />
        <AboutSection />
        <ExperienceSection />
        <SkillsSection />
        <ProjectSection />
    </main>
</Layout>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/split-type"></script>
<script src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js"></script> 
<script src="../scripts/gsap.ts"></script>
<script src="../scripts/video_hover.ts"></script>